<div class="container">
    <div class="row">
        <div class="main">
            <h1 class="page-header">What to Wear, What to Wear...</h1>
            <p>Do you consider yourself a fashionista? Is your go to outfit sweats
                and an old T-shirt? Whatever your style, you can make the best of your
                closet with What to Wear. What to Wear uses the weather reports for
                your area and real information about your closet to pick out outfits
                for you. No more rifling through your drawers and wrinkling everything
                looking for something that isn't even clean. No more trying on
                outfit after outfit only to walk outside in your cute sundress to a
                torrential downpour. You can now just scroll through your options on
                your computer, select an outfit, mark it as dirty, and put it on!</p>

        </div>
    </div>
</div>