<div class="container">
    <div class="main" ng-controller="ClosetController">
        <h1 class="page-header">My Closet</h1>
        <div class="form-group">
            <div class="text-right">
                <a href="#/add" class="btn btn-default">Add Item</a>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#/closet">All</a></li>
            <li role="presentation" class="active"><a href="#/clean">Clean</a></li>
            <li role="presentation"><a href="#/dirty">Dirty</a></li>
        </ul>
        <div class="clothes"><img ng-repeat="item in clean" ng-src={{item.img}}>
        </div>
    </div>
</div>
