<div class="container">
    <div class="main" ng-controller="ClosetController">
        <h1 class="page-header">My Closet</h1>
        <div class="form-group">
            <div class="text-right">
                <a href="#/add" class="btn btn-default">Add Item</a>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#/closet">All</a></li>
            <li role="presentation"><a href="#/clean">Clean</a></li>
            <li role="presentation"><a href="#/dirty">Dirty</a></li>
        </ul>
        <form method="post" action="/api/project/delete">
            <div class="clothes row">
                <div ng-repeat="item in clothing" class="col-md-3">
                    <img ng-src={{item.img}}>
                    <input type="radio" name="selected" value={{item._id}}>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" value="Delete" ng-click="itemAdded()">
                </div>
            </div>
        </form>
        <div>
            <div class="row">
                <div class="form-group">
                    <h4 class="col-sm-6 col-sm-offset-3">Search through your Closet</h4>
                    <div class="col-sm-offset-3 col-sm-6">
                        <input class="col-sm-5" type="search" value="search" name="search" ng-model="search.query">
                        <a class="col-sm-1 btn btn-default btn" ng-click="search(search.query)">Search</a>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>
