<div class="container">
    <div class="main" ng-controller="ClosetController">
        <h1 class="page-header">My Closet</h1>
        <div class="form-group">
            <div class="text-right">
                <a href="#/add" class="btn btn-default">Add Item</a>
            </div>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#/closet">All</a></li>
            <li role="presentation"><a href="#/clean">Clean</a></li>
            <li role="presentation" class="active"><a href="#/dirty">Dirty</a></li>
        </ul>
        <form method="post" action="/api/project/markclean">
            <div class="clothes row">
                <div ng-repeat="item in dirty" class="col-md-3">
                    <img ng-src={{item.img}}>
                    <input type="radio" name="selected" value={{item._id}}>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="submit" value="Mark Clean" ng-click="itemAdded()">
                </div>
            </div>
        </form>
    </div>

</div>
</div>

