<div class="container">
    <div class="row">
        <div class="main" ng-controller="TodayController">
            <h1 class="page-header">Today's Outfits</h1>
            <h3>Today it is {{temp}} degrees and there is {{des}}.</h3>
            <div>
                <ul class="bxslider">
                    <li>
                        <img src="/project/images/rain-jacket.jpg">
                        <img src="/project/images/t-shirt.jpg">
                        <img src="/project/images/leggings.jpg">
                        <img src="/project/images/yellow-boots.jpg">
                    </li>
                    <li>
                        <img src="/project/images/jeans.jpg">
                        <img src="/project/images/black-top.jpg">
                        <img src="/project/images/duck-boots.jpg">
                        <img src="/project/images/umbrella.jpg">
                    </li>
                    <li>
                        <img src="/project/images/jeans.jpg">
                        <img src="/project/images/t-shirt.jpg">
                        <img src="/project/images/yellow-boots.jpg">
                        <img src="/project/images/umbrella.jpg">
                    </li>
                </ul>
            <!--</div>-->
            <div class="form-group">
                <div class="text-center">
                    <a class="btn btn-default">Wear This</a>
                </div>
            </div>
        </div>
    </div>
</div>
